<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <a id="newCanvas" href="" >New</a>
        <script>
         $("#newCanvas").click(function() {
             $.post("/api/new", function(data) {
                 window.location.href = "/canvas/" + data.hash;
             }).fail(function() {
                 console.log(arguments);
             });

             return false;
         });
        </script>
    </body>
</html>
